html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; // Optional, prevents unwanted scroll
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
}


.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  background: radial-gradient(circle, #1e1e1e 40%, #121212 100%);
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);



  
}
